<div class="d-flex justify-content-center">
  <div class="container w-50 bg-primary rounded-sm mt-2 pb-1">
  <h3>Join the Quakebook communtiy!</h3>
  <form action="/auth/register" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="authEmail">Email</label>
        <input id="authEmail" class="form-control form-control-sm" type="email" name="email" placeholder="email@website.com">
    </div>
    <div class="form-group">
        <label for="authFirstName">First Name</label>
        <input id="authFirstName" class="form-control form-control-sm" type="text" name="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="authLastName">Last Name</label>
        <input id="authLastName" class="form-control form-control-sm" type="text" name="lastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="authPassword">Password</label>
        <input id="authPassword" class="form-control form-control-sm" type="password" name="password" placeholder="********">
    </div>
    <div class="form-group">
        <label for="bio">Bio</label>
        <textarea id="bio" class="form-control form-control-sm" rows="3" name="bio" placeholder="Tell the Quakebook community about yourself!"></textarea>
    </div>
    <div class="custom-file">
      <label class="custom-file-label" for="profilePicUpload">Upload a Profile Pic!</label>
      <input type="file" class="custom-file-input" id="profilePicUpload" name="profilePic">
    </div>
    <input class="btn btn-dark btn-sm mt-2" type="submit" value="submit">
  </form>
  </div>
</div>