<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quakebook</title>
    <!-- Bootstrap CSS files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/slate/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- gijgo css -->
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
      <!-- mapbox CSS file -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
    <!-- local styles -->
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <!-- navbar if user is logged in -->
        <% if(currentUser) { %>
          <a href="/" class="navbar-brand nav-link active p-0">
            <img src="../img/quakebook-logo-2.png" height="45" alt="Quakebook">
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="/users" class="nav-item nav-link active">community</a>
            </div>
            <div class="navbar-nav ml-auto">
              <a href="/users/<%= currentUser.id %>" class="nav-item nav-link">profile</a>
              <a href="/auth/logout" class="nav-item nav-link active">logout</a>
            </div>
          </div>
        <!-- nav if user is logged out -->
        <% } else { %>
          <a href="/" class="navbar-brand nav-link active p-0">
            <img src="../img/quakebook-logo-2.png" height="45" alt="Quakebook">
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
              <a href="/auth/register" class="nav-item nav-link active">register</a>
              <a href="/auth/login" class="nav-item nav-link active">login</a>
            </div>
          </div>
        <% } %>        
      </nav>
    </header>
    <!-- flash alerts -->
    <%- include('../views/partials/alerts.ejs') %>
    <!-- body content -->
    <%- body %>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <!-- gijgo js -->
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>