<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Quakebook</title>

  <!-- Bootstrap CSS files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- mapbox CSS file -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
  <style>
    /* mapbox style */
    #map { 
      position: absolute; 
      top: 10%; 
      bottom: 0%; 
      left: 2%; 
      width: 96%; 
      height: 80%;
    }
    /* div under map */
    .under-map{
      position: absolute; 
      top: 92%; 
      bottom: 0%; 
      left: 2%; 
      width: 96%; 
    }
    </style>
    <!-- local styles -->
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <!-- navbar if user is logged in -->
        <% if(currentUser) { %>
          <a href="/" class="navbar-brand">
            <img src="./public/images/logo.svg" height="28" alt="Quakebook">
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="#" class="nav-item nav-link disabled" tabindex="-1">disabled item</a>
            </div>
            <div class="navbar-nav ml-auto">
              <a href="/profile" class="nav-item nav-link">profile</a>
              <a href="/auth/logout" class="nav-item nav-link active">logout</a>
            </div>
          </div>
        <!-- nav if user is logged out -->
        <% } else { %>
          <a href="/" class="navbar-brand">
            <img src="images/logo.svg" height="28" alt="Quakebook">
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="#" class="nav-item nav-link disabled" tabindex="-1">disabled</a>
            </div>
            <div class="navbar-nav ml-auto">
              <a href="/auth/register" class="nav-item nav-link active">register</a>
              <a href="/auth/login" class="nav-item nav-link active">login</a>
            </div>
          </div>
        <% } %>        
      </nav>
    </header>
    <div class="container">
      <%- include('../views/partials/alerts.ejs') %>
      <%- body %>
    </div>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>