<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Quakebook</title>
  <!-- Bootstrap CSS file -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
  <body>
    <header>
      <nav>
        <% if(currentUser) { %>
          <a href="/auth/logout">Logout</a>
          <a href="/profile">Profile</a>
        <% } else { %>
          <a href="/auth/register">Register</a>
          <a href="/auth/login">Login</a>
        <% } %>
          
          
      </nav>
    </header>
    <div class="container">
      <h1>Authenticating Users 🐳</h1>

      <%- include('../views/partials/alerts.ejs') %>
      <%- body %>
    </div>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>