/* #mock-body{
  margin: 0;
  overflow: hidden;
  height:100%;
} */
/* have to give body an explicit height so mapbox can inherit it */
body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

/* holds entire page layout of / and /details */
#column-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  height:100%;
  z-index: 0;
}
/* left column */
#left {
  background-color: red;
  text-align: left;
  height:100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  /* width: 75%; */
  overflow-y: scroll; 
  /* needs a z-index to scroll in relative div */
  z-index: 1;
}
/* right column */
#right {
  height:100%;
  background-color: #f1c40f;
  text-align: left;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: visible;
  /* width: 25%; */
}

/* style controls above map */
#map-style-controls-div{
  height: 7%;
  background-color: #bee9f7;
  width: 100%;
}

/* container for map */
#map-container {
  position: relative;
  height: 73%;
  width: 100%;
}

/* search controls below map */
#search-controls-div{
  height: 17%;
  background-color: #bee9f7;
  width: 100%;
}

/* actual map div */
#map {
  position: relative;
  height: inherit; 
  width: inherit;
}
/* to be depricated */
/* div under map */
.under-map{
  position: absolute; 
  top: 92%; 
  bottom: 0%; 
  left: 2%; 
  width: 96%; 
}

