/* 
global styles
*/

/* have to give body an explicit height so mapbox can inherit it */
body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

/* antique white text color */
.h1, h2, h3, h4, h5, h6, p {
  color: antiquewhite;
}

.white-text{
  color: white;
}

/* 
/index (/) and /detail styles
*/

/* holds entire page layout of / and /details */
.column-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  height:95%;
  z-index: 0;
}

/* left column with lists in it */
.list-column {
  /* background-color: red; */
  text-align: left;
  height:100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  /* width: 75%; */
  overflow-y: scroll; 
  /* needs a z-index to scroll in relative div */
  z-index: 1;
}

/* left column with lists of comments (for TODO pin comment form to top of column) in it */
.list-column-comments {
  /* background-color: red; */
  text-align: left;
  height:100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  /* width: 75%; */
  overflow-y: scroll; 
  /* needs a z-index to scroll in relative div */
  z-index: 1;
}

/* right column with map and controls/details in it */
.map-column {
  height:100%;
  /* background-color: #f1c40f; */
  text-align: left;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: visible;
  /* width: 25%; */
}

/* style controls above map */
.map-style-controls-div{
  height: 5%;
  /* background-color: #bee9f7; */
  /* border: 1px dotted red; */
  width: 100%;
}

/* search controls or details above map */
.search-controls-details-div{
  height: 17%;
  /* background-color: #bee9f7; */
  width: 100%;
}

/* container for map, cotrols actual map height */
.map-container {
  position: relative;
  height: 84%;
  width: 100%;
}

/* actual map div */
#map {
  position: relative;
  height: inherit; 
  width: inherit;
}

/* style to popups */
.mapboxgl-popup-content {
  background-color: grey;
}

/* 
for /users
*/

/* put scrollable divs in here (actually don't.....just make a new one) */
.scrollable-div-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  height:100%;
  z-index: 0;
}

/* for commnets on user profile */
#scrollable-profile-comments {
  /* background-color: red; */
  height:65%;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  /* width: 75%; */
  overflow-y: scroll; 
  /* needs a z-index to scroll in relative div */
  z-index: 1;
}

/* for the users page to scroll */
.scrollable-user-cards-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  height:100%;
  z-index: 0;
}

/* for cards on /users */
#scrollable-user-cards {
  /* background-color: red; */
  height:94%;
  width: 95%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  /* width: 75%; */
  overflow-x: hidden; 
  overflow-y: scroll; 
  /* needs a z-index to scroll in relative div */
  z-index: 1;
}


