#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
  }
/* div under map */
.under-map{
  position: absolute; 
  top: 92%; 
  bottom: 0%; 
  left: 2%; 
  width: 96%; 
}

body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

#left {
  background-color: red;
  text-align: center;
  height:100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  /* width: 75%; */
  overflow-y: scroll; 
}

#right {
  height:100%;
  background-color: #f1c40f;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: visible;
  /* width: 25%; */
}
