  <!-- search form TODO change to input group -->
  <form action="/" method="GET">
    <div class="d-flex w-100 justify-content-between" >
      <h5>Search:</h5>
    </div>
      <div class="d-flex w-100 justify-content-between" >
        <!-- search by magnitude -->
        <div class="form-inline container">
          <label for="search-magnitude">Magnitude:&nbsp;&nbsp;&nbsp;</label>
          <select id="search-magnitude" class="custom-select custom-select-sm" name="magType">
            <option value="greaterThan" <%if(!searchTerms.mag.type || searchTerms.mag.type === "greaterThan") {%> selected  <% } %> >Greater Than</option>
            <option value="equalTo"  <%if(searchTerms.mag.type === "equalTo") { %> selected  <% } %>>Equal To</option>
            <option value="lessThan" <%if(searchTerms.mag.type === "lessThan") { %> selected  <% } %>>Less Than</option>
            <option value="all" <%if(searchTerms.mag.type === "all") { %> selected  <% } %>>All</option>
          </select>
          <input id="search-magnitude-num" class="form-control form-control-sm ml-3" type="number" step=".01" name="magValue" value="<%= searchTerms.mag.value || 3.5 %>">
        </div>
        <div class="form-inline container">
        <!-- search by  date -->
          <label for="search-time">Time:&nbsp;&nbsp;&nbsp;</label>
          <select id="search-time" class="custom-select custom-select-sm" name="timeType">
            <option value="lastMonth" <%if(!searchTerms.time.type || searchTerms.time.type === "lastMonth") {%> selected  <% } %> >Last Month</option>
            <option value="lastHour" <%if(searchTerms.time.type === "lastHour") { %> selected  <% } %>>Last Hour</option>
            <option value="24Hr" <%if(searchTerms.time.type === "24Hr") { %> selected  <% } %>>Last 24</option>
            <option value="lastWeek"  <%if(searchTerms.time.type === "lastWeek") { %> selected  <% } %>>Last Week</option>
            <option value="all" <%if(searchTerms.time.type === "all") { %> selected  <% } %>>All Time</option>
        </select>
        </div>
      </div>
      <div class="container d-flex flex-row-reverse pt-2">
        <input class="btn btn-dark btn-sm" type="submit">
      </div>
      <!-- begin test zone -->
  
      <!-- <div class="form-inline" >
        <input id="datepicker" width="276" name="date" />
      </div> -->
  
      <!-- end test zone -->
    </form>