
<div class="form-inline container">
  <label for="map-style-select">Map Style:&nbsp;&nbsp;&nbsp;</label>
  <select id="map-style-select" class="custom-select custom-select-sm" name="mapStyleSelect">
    <option value="satellite-streets-v11" >Satellite Streets</option>
    <option value="satellite-v9" >Satellite</option>
    <option value="dark-v10" >Dark</option>
    <option value="light-v10" >Light</option>
    <option value="outdoors-v11" >Outdoors</option>
    <option value="streets-v11" >Streets</option>
  </select>
  <button id="map-style-button" class="btn btn-dark btn-sm ml-3" type="button">Select</button>
</div>
